
<!--<div class="dropdown">-->
  <!--<button class="btn btn-default dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown"-->
          <!--aria-expanded="true">-->
    <!--Categories-->
    <!--<span class="caret"></span>-->
  <!--</button>-->
  <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>-->
    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>-->
  <!--</ul>-->
<!--</div>-->




<div>
  <form role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input ng-model="wiki.title" type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="url">Url</label>
      <input ng-model="wiki.url" type="text" class="form-control" id="url" placeholder="Enter url">
    </div>
    <div class="form-group">
      <label for="abstract">Abstract</label>
      <textarea ng-model="wiki.abstract" id="abstract" class="form-control" rows="6"
                placeholder="Enter Abstract"></textarea>
    </div>
    
    <!--Categories-->
    <div class="form-group">
      <label for="categories">Categories</label>
      <input ng-model="category" id="categories" class="form-control" placeholder="Enter Category">
      <div class="btn-group" dropdown is-open="status.isopen">
        <button ng-click="addCategory()" type="button" class="btn btn-primary">Add Category</button>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="category in wiki.categories"><a href="">{{category}}</a></li>
        </ul>
      </div>
    </div>

    <!--Links-->
    <div class="form-group">
      <label for="links">Links</label>
      <input ng-model="link" id="links" class="form-control" placeholder="Enter Link">
      <div class="btn-group" dropdown>
        <button ng-click="addLink()" type="button" class="btn btn-primary">Add Link</button>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="link in wiki.links"><a href="">{{link}}</a></li>
        </ul>
      </div>
    </div>

    <!--Headings-->
    <div class="form-group">
      <label for="headings">Headings</label>
      <input ng-model="heading" id="headings" class="form-control" placeholder="Enter Heading">
      <div class="btn-group" dropdown>
        <button ng-click="addHeading()" type="button" class="btn btn-primary">Add Heading</button>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="heading in wiki.headings"><a href="">{{heading.heading}}</a></li>
        </ul>
      </div>
    </div>

    <button ng-click="reset()" class="btn btn-primary">RESET</button>
    <button ng-click="addWiki()" class="btn btn-primary">Add</button>
  </form>
</div>